@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

div {
  display: block;
}

body {
  position: static;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-size: 1em;
  font-family: 'Mark Pro',
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  display: none;
}

.image-wrapper {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
